/.nuget/
/.vs/
/build/
/node_modules/

bin/
obj/
*.csproj.user
TestResults/

!/bin/

.yarn/*
!.yarn/releases

/tools/InvoiceXpress.Cli/*.cmd
/tools/InvoiceXpress.Cli/*.json
/tools/InvoiceXpress.Cli/req/*.json
